<% provide(:title, "Editar Lote de Producto | Propebis") %>
<% content_for :header do -%>
  <%= javascript_include_tag 'product_lots' %>
<% end -%>
<h1>Editing Product Lot</h1>

<%= render 'form' %>

<%= link_to 'Show', @product_lot %> |
<%= link_to 'Back', product_lots_path %>
