<% if flash[:notice] %>
  <div class='row'>
    <div class="col-lg-12 col-md-12 col-sm12">
      <div class='row notifications-margin'>
        <div class="ibox-content ">
          <div class="alert alert-success no-notifications-margin"><%= notice %></div>
        </div>
      </div>
    </div>
  </div>
<% elsif flash[:alert] %>
  <div class='row'>
    <div class="col-lg-12 col-md-12 col-sm12">
      <div class='row notifications-margin'>
        <div class="ibox-content ">
          <div class="alert alert-warning no-notifications-margin"><%= alert %></div>
        </div>
      </div>
    </div>
  </div>
<% end %>