<p id="notice"><%= notice %></p>

<p>
  <strong>Expiration alert:</strong>
  <%= @setting.expiration_alert %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
