.inline_buttons{
  margin-right: 15px;
  float:left;
}
.group:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}
.align-left{
  text-align: left !important;
}
.notifications-margin{
  margin: 15px 0 15px 0;
}
.no-notifications-margin{
  margin-bottom: 0;
}
.breadcrumbs-margin{
  margin-top: 10px;
}