<div class= "row">
  <div class="col-lg-6">
    <div class="fileinput fileinput-new input-group" data-provides="fileinput">
      <div class="form-control" data-trigger="fileinput">
        <i class="glyphicon glyphicon-file fileinput-exists"></i>
        <span class="fileinput-filename">
          <% if f.object.document.exists? %>
            <%= f.object.document_file_name %>
          <% end %>
        </span>
      </div>
      <span class="input-group-addon btn btn-default btn-file">
        <span class="fileinput-new">Seleccionar Archivo</span>
        <span class="fileinput-exists">Cambiar</span>
        <%= f.file_field :document %>
      </span>
      <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
    </div>
  </div>
  <div class="col-lg-6">
    <%= f.hidden_field :_destroy %>
    <button class="btn btn-danger btn-circle remove_fields" type="button">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>