<% provide(:title, "Editar Adenda | Propebis") %>
<% content_for :header do -%>
  <%= javascript_include_tag 'addendums' %>
  <%= stylesheet_link_tag 'purchase_orders' %>
<% end -%>
<h1>Editing Addendum</h1>

<%= render 'form' %>

<%= link_to 'Back', contract_addendums_path %>
