<% provide(:title, "Propebis | Nueva Orden de Venta") %>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-12">
    <h2>Nueva Orden de Venta</h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'static_pages', :action => 'home' %>">Inicio</a>
      </li>
      <li>
        <a href="<%= url_for :controller => 'sales_orders', :action => 'index' %>">Órdenes de Venta</a>
      </li>
      <li class="active">
        <strong>Nueva Orden de Venta</strong>
      </li>
    </ol>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="ibox float-e-margins">
     	  <div class="ibox-title">
    	    <h3>Nueva Orden de Venta</h3>
    	  </div>
    	  <div class="ibox-content">
  	      <%= render 'form' %>
          <%= button_to 'Volver', { action: 'index'}, method: :get, class: 'btn btn-w-m btn-info' %>
    	  </div>
      </div>
	  </div>
  </div>	
</div>
